<div class="menu-item" [ngClass]="viewMode">
  <p-card>
    <ng-template pTemplate="header">
      <img [src]="item.image" alt="{{ item.name }}" class="item-image">
    </ng-template>
    <ng-template pTemplate="content">
      <div class="item-details">
        <h3 class="item-name">{{ item.name }}</h3>
        <p class="item-description">{{ item.description }}</p>
        <div class="item-price">
          <span>{{ item.originalPrice | currency:'VND':'symbol':'1.0-0' }}</span>
        </div>
        <div class="quantity-control">
          <button (click)="decreaseQuantity()" [disabled]="quantity <= 1" class="qty-btn">-</button>
          <input type="number" [(ngModel)]="quantity" min="1" max="99" class="qty-input">
          <button (click)="increaseQuantity()" [disabled]="quantity >= 99" class="qty-btn">+</button>
        </div>
        <button pButton type="button" label="{{ getAddToCartLabel() }}" (click)="onAddToCart()" [disabled]="isAdding"></button>
      </div>
    </ng-template>
  </p-card>
</div> 