<nb-card class="menu-item" [class.list-view]="viewMode === 'list'">
  <nb-card-header *ngIf="item.image">
    <img [src]="item.image" [alt]="item.name">
  </nb-card-header>
  <nb-card-body>
    <div class="item-content">
      <div class="item-info">
        <h3 class="heading-sm">{{ item.name }}</h3>
        <p class="text-sm description">{{ item.description }}</p>
        <p class="text-md price">{{ item.originalPrice | currency:'VND':'symbol':'1.0-0' }}</p>
      </div>
      <div class="item-actions">
        <nb-form-field>
          <nb-icon nbPrefix icon="shopping-bag-outline" class="icon-small"></nb-icon>
          <input nbInput 
                type="number" 
                [(ngModel)]="quantity" 
                min="1" 
                max="99"
                class="quantity-input">
        </nb-form-field>
        <button nbButton 
                status="primary" 
                size="medium" 
                (click)="onAddToCart()"
                #addToCartBtn>
          <nb-icon icon="shopping-cart-outline" class="icon-small"></nb-icon>
          <span>Thêm vào giỏ</span>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card> 