<div class="place-card">
  <a [routerLink]="['/place', place.id]" class="card-content">
    <div class="image-container">
      <img [src]="place.image" [alt]="place.name" loading="lazy">
      <div class="image-overlay">
        <div class="location-tag">
          <i class="pi pi-map-marker"></i>
          {{place.location}}
        </div>
        <div class="view-more">
          <i class="pi pi-arrow-right"></i>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h3 class="place-name">{{place.name}}</h3>
      <p class="description">{{place.description}}</p>
    </div>
  </a>
</div>
