:host {
  --footer-bg: #f0f7ff;
  --footer-text: #006aca;
  --footer-border: #e6f4ff;
}

.footer {
  background: var(--footer-bg);
  padding: 2rem 0;
  border-top: 1px solid var(--footer-border);
  margin-top: auto;
  z-index: 2;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  text-align: center;
  color: var(--footer-text);
  font-size: 0.9rem;

  p {
    margin: 0;
  }
}
