<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="container">
    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="HCM City Guide">
      <span>All in One HCM</span>
    </a>

    <!-- Desktop Menu -->
    <div class="nav-menu" [class.active]="isMenuOpen">
      <!-- Main Navigation -->
      <ul class="nav-list">
        <li>
          <a routerLink="/discover" routerLinkActive="active" class="nav-link" (mouseenter)="showSubmenu('discover')">
            <i class="pi pi-compass"></i>
            {{ 'MENU.DISCOVER' | translate }}
          </a>
          <div class="submenu" *ngIf="activeSubmenu === 'discover'" (mouseleave)="hideSubmenu()">
            <div class="submenu-content">
              <div class="submenu-section">
                <h4>{{ 'MENU.DISCOVER_PLACES' | translate }}</h4>
                <ul>
                  <li><a routerLink="/discover/attractions">{{ 'MENU.ATTRACTIONS' | translate }}</a></li>
                  <li><a routerLink="/discover/culture">{{ 'MENU.CULTURE' | translate }}</a></li>
                  <li><a routerLink="/discover/food">{{ 'MENU.FOOD' | translate }}</a></li>
                  <li><a routerLink="/discover/wards">{{ 'MENU.WARDS' | translate }}</a></li>
                </ul>
              </div>
              <div class="submenu-section">
                <h4>{{ 'MENU.TIPS_GUIDES' | translate }}</h4>
                <ul>
                  <li><a routerLink="/discover/tips">{{ 'MENU.TRAVEL_TIPS' | translate }}</a></li>
                  <li><a routerLink="/discover/safety">{{ 'MENU.SAFETY' | translate }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/entertainment" routerLinkActive="active" class="nav-link" (mouseenter)="showSubmenu('entertainment')">
            <i class="pi pi-ticket"></i>
            {{ 'MENU.ENTERTAINMENT' | translate }}
          </a>
          <div class="submenu" *ngIf="activeSubmenu === 'entertainment'" (mouseleave)="hideSubmenu()">
            <div class="submenu-content">
              <div class="submenu-section">
                <h4>{{ 'MENU.VENUES' | translate }}</h4>
                <ul>
                  <li><a routerLink="/entertainment/shopping">{{ 'MENU.SHOPPING' | translate }}</a></li>
                  <li><a routerLink="/entertainment/theme-parks">{{ 'MENU.THEME_PARKS' | translate }}</a></li>
                  <li><a routerLink="/entertainment/nightlife">{{ 'MENU.NIGHTLIFE' | translate }}</a></li>
                </ul>
              </div>
              <div class="submenu-section">
                <h4>{{ 'MENU.ACTIVITIES' | translate }}</h4>
                <ul>
                  <li><a routerLink="/entertainment/cinemas">{{ 'MENU.CINEMAS' | translate }}</a></li>
                  <li><a routerLink="/entertainment/sports">{{ 'MENU.SPORTS' | translate }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/hotels" routerLinkActive="active" class="nav-link" (mouseenter)="showSubmenu('hotels')">
            <i class="pi pi-home"></i>
            {{ 'MENU.HOTELS' | translate }}
          </a>
          <div class="submenu" *ngIf="activeSubmenu === 'hotels'" (mouseleave)="hideSubmenu()">
            <div class="submenu-content">
              <div class="submenu-section">
                <h4>{{ 'MENU.ACCOMMODATION' | translate }}</h4>
                <ul>
                  <li><a routerLink="/hotels/search">{{ 'MENU.SEARCH_HOTELS' | translate }}</a></li>
                  <li><a routerLink="/hotels/hotels">{{ 'MENU.HOTELS_LIST' | translate }}</a></li>
                  <li><a routerLink="/hotels/apartments">{{ 'MENU.APARTMENTS' | translate }}</a></li>
                  <li><a routerLink="/hotels/resorts">{{ 'MENU.RESORTS' | translate }}</a></li>
                </ul>
              </div>
              <div class="submenu-section">
                <h4>{{ 'MENU.WELLNESS' | translate }}</h4>
                <ul>
                  <li><a routerLink="/hotels/spas">{{ 'MENU.SPAS' | translate }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/transport" routerLinkActive="active" class="nav-link" (mouseenter)="showSubmenu('transport')">
            <i class="pi pi-car"></i>
            {{ 'MENU.TRANSPORT' | translate }}
          </a>
          <div class="submenu" *ngIf="activeSubmenu === 'transport'" (mouseleave)="hideSubmenu()">
            <div class="submenu-content">
              <div class="submenu-section">
                <h4>{{ 'MENU.GETTING_AROUND' | translate }}</h4>
                <ul>
                  <li><a routerLink="/transport/search">{{ 'MENU.PLAN_JOURNEY' | translate }}</a></li>
                  <li><a routerLink="/transport/public-transport">{{ 'MENU.PUBLIC_TRANSPORT' | translate }}</a></li>
                  <li><a routerLink="/transport/ride-hailing">{{ 'MENU.RIDE_HAILING' | translate }}</a></li>
                </ul>
              </div>
              <div class="submenu-section">
                <h4>{{ 'MENU.RENTALS' | translate }}</h4>
                <ul>
                  <li><a routerLink="/transport/bike-rental">{{ 'MENU.BIKE_RENTAL' | translate }}</a></li>
                  <li><a routerLink="/transport/car-rental">{{ 'MENU.CAR_RENTAL' | translate }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- Language and Search -->
      <div class="nav-actions">
        <button class="search-button" (click)="openSearch()">
          <i class="pi pi-search"></i>
        </button>
        <button class="language-button" (click)="toggleLanguage()">
          <i class="pi pi-globe"></i>
          <span>{{ currentLanguage | uppercase }}</span>
        </button>
        <button class="donate-button" (click)="onDonate()">
          <i class="pi pi-heart-fill"></i>
          {{ 'MENU.DONATE' | translate }}
        </button>
      </div>
    </div>

    <!-- Mobile Menu Button -->
    <button class="menu-button" (click)="toggleMenu()">
      <span class="menu-icon" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  </div>
</nav>

<!-- Search Dialog -->
<p-dialog 
  [(visible)]="showSearchDialog"
  [modal]="true"
  [dismissableMask]="true"
  [showHeader]="false"
  [contentStyle]="{padding: '2rem'}"
  [style]="{width: '90vw', maxWidth: '600px'}"
  (onHide)="closeSearch()">
  <div class="search-dialog">
    <div class="search-input">
      <span class="p-input-icon-left p-input-icon-right">
        <i class="pi pi-search"></i>
        <input 
          #searchInput
          type="text" 
          pInputText 
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
          [placeholder]="'MENU.SEARCH_PLACEHOLDER' | translate">
        <i class="pi pi-times" (click)="closeSearch()" style="cursor: pointer"></i>
      </span>
    </div>
  </div>
</p-dialog> 