<div class="experience-section">
  <div class="work-experience" *ngIf="cvService.cv()?.experience as exp">
    <h2 class="section-title">{{ 'NAV.EXPERIENCE' | translate }}</h2>
    <nz-timeline>
      <nz-timeline-item *ngFor="let job of exp.workExperience">
        <div class="timeline-content">
          <div class="job-meta">
            <span class="duration">
              <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
              {{ job.startDate }} - {{ job.endDate || 'Present' }}
            </span>
            <span class="location">
              <span nz-icon nzType="environment" nzTheme="outline"></span>
              {{ job.location }}
            </span>
          </div>
          <div class="job-header">
            <h3>{{ job.position }}</h3>
            <span class="company">{{ job.company }}</span>
          </div>
          <div class="responsibilities">
            <h4>{{ 'EXPERIENCE.RESPONSIBILITIES' | translate }}:</h4>
            <ul>
              <li *ngFor="let resp of job.responsibilities">{{ resp }}</li>
            </ul>
          </div>
          <div class="achievements" *ngIf="job.achievements?.length">
            <h4>{{ 'EXPERIENCE.KEY_ACHIEVEMENTS' | translate }}:</h4>
            <ul>
              <li *ngFor="let achievement of job.achievements">{{ achievement }}</li>
            </ul>
          </div>
        </div>
      </nz-timeline-item>
    </nz-timeline>
  </div>

  <div class="education" *ngIf="cvService.cv()?.education as edu">
    <h2 class="section-title">{{ 'EDUCATION.TITLE' | translate }}</h2>
    <div class="education-item" *ngFor="let item of edu.education">
      <div class="edu-meta">
        <span class="duration">
          <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
          {{ item.startDate }} - {{ item.endDate }}
        </span>
        <span class="location">
          <span nz-icon nzType="environment" nzTheme="outline"></span>
          {{ item.location }}
        </span>
      </div>
      <div class="edu-header">
        <h3>{{ item.field }}</h3>
        <span class="institution">{{ item.institution }}</span>
      </div>
      <div class="degree">{{ item.degree }}</div>
    </div>
  </div>
</div>
