.tag-cloud {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  .tag {
    background: #eee;
    border-radius: 12px;
    padding: 5px 15px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  }
  .tag:hover {
    background: #cde4ff;
  }
}
