:host {
  display: block;
  min-height: 100vh;
}

main {
  padding-top: 80px; /* Chiều cao của navbar + thêm một chút space */
  min-height: calc(100vh - 80px);
}

@media (max-width: 768px) {
  main {
    padding-top: 0; /* Xóa padding trên mobile */
    padding-bottom: 160px; /* Tăng padding bottom lên nhiều hơn */
    min-height: calc(100vh - 70px);
  }
}
