:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.floating-elements {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.floating-element {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(255, 192, 203, 0.2);
  border-radius: 50%;
  animation: float 20s infinite linear;

  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      left: random(100) * 1%;
      top: random(100) * 1%;
      animation-delay: random(20) * -1s;
      animation-duration: (15 + random(20)) * 1s;
      transform: scale(random(3));
    }
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 100px);
  }
  50% {
    transform: translate(0, 200px);
  }
  75% {
    transform: translate(-100px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

main {
  width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 60px);
  position: relative;
  padding-top: 70px; /* Add top padding for fixed navbar */
}

.route-container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  min-height: inherit;
}

@media (max-width: 768px) {
  main {
    padding-top: 0; /* Xóa padding trên mobile */
    padding-bottom: 160px; /* Tăng padding bottom lên nhiều hơn */
    min-height: calc(100vh - 70px);
  }
}
