<nav class="navbar">
  <div class="container">
    <a routerLink="/chao-mung" class="brand">
      <div class="avatar-container">
        <img src="assets/images/anh-chu-dao/avatar-couple.png" alt="Avatar đôi" class="couple-avatar" />
      </div>
    </a>
    
    <button type="button" class="menu-toggle" (click)="toggleMenu()">
      <i class="pi" [ngClass]="{'pi-bars': !isMenuOpen, 'pi-times': isMenuOpen}"></i>
    </button>

    <!-- Desktop Menu -->
    <ul class="nav-links">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a [routerLink]="item.link" routerLinkActive="active" class="nav-link">
          <i [class]="item.icon"></i>
          <span>{{ item.text }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Mobile Menu -->
<div class="mobile-menu" [class.show]="isMenuOpen">
  <div class="mobile-menu-content">
    <!-- Mobile Header -->
    <div class="mobile-header">
      <div class="mobile-brand">
        <div class="avatar-container">
          <img src="assets/images/anh-chu-dao/avatar-couple.png" alt="Avatar đôi" class="couple-avatar" />
        </div>
        <div class="brand-text">Kỷ Niệm</div>
      </div>
    </div>

    <!-- Mobile Navigation -->
    <div class="mobile-nav-links">
      <div class="mobile-nav-item" *ngFor="let item of menuItems">
        <a [routerLink]="item.link" routerLinkActive="active" class="mobile-nav-link" (click)="toggleMenu()">
          <i [class]="item.icon"></i>
          <span>{{ item.text }}</span>
        </a>
      </div>
    </div>

    <!-- Mobile Footer -->
    <div class="mobile-footer">
      <p>💕 Hạnh phúc là khi có nhau</p>
    </div>
  </div>
</div>
