<p-menubar>
  <div class="p-menubar-start">
    <a routerLink="/album-anh" routerLinkActive="active" class="p-menuitem-link p-ripple">Album Ảnh</a>
    <a routerLink="/anh-yeu-thich" routerLinkActive="active" class="p-menuitem-link p-ripple">Ảnh Yêu Thích</a>
    <a routerLink="/ky-niem" routerLinkActive="active" class="p-menuitem-link p-ripple">Kỷ Niệm</a>
    <a routerLink="/dong-thoi-gian" routerLinkActive="active" class="p-menuitem-link p-ripple">Dòng Thời Gian</a>
    <a routerLink="/image-cloud" routerLinkActive="active" class="p-menuitem-link p-ripple">Image Cloud</a>
    <a routerLink="/thong-diep" routerLinkActive="active" class="p-menuitem-link p-ripple">Viết Thông Điệp</a>
    <a routerLink="/ve-chung-toi" routerLinkActive="active" class="p-menuitem-link p-ripple">Về Chúng Tôi</a>
  </div>
</p-menubar>
